unpackaged/main/default/flows/lot_number_link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>does_this_lot_numebr_exist</name>
        <label>does this lot numebr exist</label>
        <locationX>322</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>update_dof_item_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_dof_item</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <interviewLabel>lot number link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>lot number link</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookup_lot_number</name>
        <label>lookup lot number</label>
        <locationX>347</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>does_this_lot_numebr_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lot_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_lotnumber</elementReference>
            </value>
        </filters>
        <object>Mobile_Refresh__c</object>
        <outputAssignments>
            <assignToReference>varID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_dof_item</name>
        <label>update dof item</label>
        <locationX>337</locationX>
        <locationY>577</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_dofid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_code_process_run__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>number__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>DOF_Item__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_dof_item_0</name>
        <label>update dof item</label>
        <locationX>120</locationX>
        <locationY>417</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_dofid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_code_process_run__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>number__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>DOF_Item__c</object>
    </recordUpdates>
    <startElementReference>lookup_lot_number</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_dofid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_lotnumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
