unpackaged/main/default/flows/not_null.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Null</name>
        <label>Null?</label>
        <locationX>176</locationX>
        <locationY>364</locationY>
        <defaultConnector>
            <targetReference>Update_KAP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTargetid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>not null {!$Flow.CurrentDateTime}</interviewLabel>
    <label>not null</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Active_Target</name>
        <label>Lookup Active Target</label>
        <locationX>177</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAcctID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Sales_by_year__c</object>
        <outputAssignments>
            <assignToReference>varTargetid</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_KAP</name>
        <label>Update KAP</label>
        <locationX>174</locationX>
        <locationY>493</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varKAPid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_Target__c</field>
            <value>
                <elementReference>varTargetid</elementReference>
            </value>
        </inputAssignments>
        <object>Key_Account_Plan__c</object>
    </recordUpdates>
    <startElementReference>Lookup_Active_Target</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAcctID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varKAPid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varTargetid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
