unpackaged/main/default/flows/permission_set_assign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>does_it_exist</name>
        <label>does it exist</label>
        <locationX>145</locationX>
        <locationY>135</locationY>
        <defaultConnector>
            <targetReference>BioHubPers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_is_there_perm_set</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_permission_set_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>does_it_exist_0</name>
        <label>does it exist</label>
        <locationX>145</locationX>
        <locationY>506</locationY>
        <defaultConnector>
            <targetReference>MobileCaddy_User_Generic_With_API</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_gen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_permission_set_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>does_it_exist_0_0</name>
        <label>does it exist</label>
        <locationX>167</locationX>
        <locationY>942</locationY>
        <defaultConnector>
            <targetReference>MobileCaddy_User_Generic_With_API_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_dv14</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>permission set assign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>permission set assign</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>BioHubPers</name>
        <label>BioHubPers</label>
        <locationX>16</locationX>
        <locationY>243</locationY>
        <connector>
            <targetReference>lookup_permission_set_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>userID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PSU0000000WkRDOA0</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordCreates>
        <name>MobileCaddy_User_Generic_With_API</name>
        <label>MobileCaddy User (Generic)</label>
        <locationX>5</locationX>
        <locationY>631</locationY>
        <connector>
            <targetReference>lookup_permission_set_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>userID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PSU0000000WjYDOA0</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordCreates>
        <name>MobileCaddy_User_Generic_With_API_0</name>
        <label>MobileCaddy User (Generic)</label>
        <locationX>32</locationX>
        <locationY>1077</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>userID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <stringValue>0PS0B000000b5UwWAI</stringValue>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordLookups>
        <name>lookup_permission_set</name>
        <label>lookup permission set</label>
        <locationX>144</locationX>
        <locationY>24</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>does_it_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userID</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PSU0000000WkRDOA0</stringValue>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>var_is_there_perm_set</assignToReference>
            <field>PermissionSetId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_permission_set_0</name>
        <label>lookup permission set</label>
        <locationX>144</locationX>
        <locationY>352</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>does_it_exist_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userID</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PSU0000000WjYDOA0</stringValue>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>var_gen</assignToReference>
            <field>PermissionSetId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_permission_set_0_0</name>
        <label>lookup permission set</label>
        <locationX>154</locationX>
        <locationY>800</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>does_it_exist_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userID</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0PS0B000000b5UwWAI</stringValue>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>var_dv14</assignToReference>
            <field>PermissionSetId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>BioHubPers</startElementReference>
    <status>Active</status>
    <variables>
        <name>userID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_dv14</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_gen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_is_there_perm_set</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
