unpackaged/main/default/flows/Surgeon_to_hospital.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>what_type_of_account_is_it</name>
        <label>what type of account is it?</label>
        <locationX>441</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Surgeons</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_recordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Surgeons</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_surgeon_details</targetReference>
            </connector>
            <label>Surgeons</label>
        </rules>
        <rules>
            <name>Hospital_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_recordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hospital</stringValue>
                </rightValue>
            </conditions>
            <label>Hospital</label>
        </rules>
        <rules>
            <name>Distributor_To_Hospital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_recordTypeName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Distributors</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_dist_To_Hospital</targetReference>
            </connector>
            <label>Distributor To Hospital</label>
        </rules>
    </decisions>
    <interviewLabel>Surgeon to hospital {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Surgeon to hospital</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_surgeon_in_hospital_record</name>
        <label>Create surgeon in hospital record</label>
        <locationX>1099</locationX>
        <locationY>114</locationY>
        <inputAssignments>
            <field>Hospital__c</field>
            <value>
                <elementReference>var_hosp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surgeon__c</field>
            <value>
                <elementReference>Get_surgeon_details.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Surgeon_in_Hospital__c</object>
    </recordCreates>
    <recordCreates>
        <name>dist_in_hospital</name>
        <label>dist in hospital</label>
        <locationX>952</locationX>
        <locationY>426</locationY>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hospital__c</field>
            <value>
                <elementReference>var_hosp</elementReference>
            </value>
        </inputAssignments>
        <object>Hospital_in_a_Distributor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_surgeon_details</name>
        <label>Get surgeon details</label>
        <locationX>645</locationX>
        <locationY>118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Link_Surgeon_To_Hospital</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_the_recordtype_from_the_account</name>
        <label>get the recordtype from the account</label>
        <locationX>170</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lookup_the_recordtype_from_the_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_acctName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_RTid</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_the_recordtype_from_the_account</name>
        <label>lookup the recordtype from the account</label>
        <locationX>164</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>what_type_of_account_is_it</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RTid</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>var_recordTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>debug</name>
        <label>debug</label>
        <locationX>464</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>what_type_of_account_is_it</targetReference>
        </connector>
        <fields>
            <name>txt1</name>
            <fieldText>&lt;p&gt;RTid {!var_RTid}&lt;/p&gt;&lt;p&gt;Acc Name {!var_acctName}&lt;/p&gt;&lt;p&gt;RT Name{!var_recordTypeName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Link_dist_To_Hospital</name>
        <label>Link dist To Hospital</label>
        <locationX>697</locationX>
        <locationY>432</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dist_in_hospital</targetReference>
        </connector>
        <fields>
            <name>Surgeon_Name_0</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Distributor: &lt;/b&gt;{!var_acctName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hospital_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Hospital__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Hospital</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Hospital_in_a_Distributor__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_hosp</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Link_Surgeon_To_Hospital</name>
        <label>Link Surgeon To Hospital</label>
        <locationX>855</locationX>
        <locationY>119</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_surgeon_in_hospital_record</targetReference>
        </connector>
        <fields>
            <name>Surgeon_Name</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Surgeon Name: &lt;/b&gt;{!Get_surgeon_details.FirstName} {!Get_surgeon_details.LastName}&lt;/p&gt;&lt;p&gt;RT Name: {!var_recordTypeName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Hospital</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Hospital__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Hospital</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Surgeon_in_Hospital__c</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_hosp</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_the_recordtype_from_the_account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_acctName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_hosp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_recordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_RTid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_surgeon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
