unpackaged/main/default/flows/update_dof_with_dist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>if_there_is_no_contact_set_biocomp_as_account</name>
        <label>if there is no contact set biocomp as account</label>
        <locationX>842</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>var_accountID</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Does_a_hospital_exist</name>
        <label>Does a hospital exist</label>
        <locationX>332</locationX>
        <locationY>110</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Hospid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_there_a_contact_associated</name>
        <label>is there a contact associated</label>
        <locationX>643</locationX>
        <locationY>309</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes_cont</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_contactID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_distributor</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <interviewLabel>update dof with dist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update dof with dist</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookup_contact_id_from_user</name>
        <label>lookup contact id from user</label>
        <locationX>614</locationX>
        <locationY>174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_there_a_contact_associated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_UserID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>var_contactID</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_distributor</name>
        <label>Lookup distributor</label>
        <locationX>619</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateDOF</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_contactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_accountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDOF</name>
        <label>UpdateDOF</label>
        <locationX>646</locationX>
        <locationY>586</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DOFid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Distributor__c</field>
            <value>
                <elementReference>var_accountID</elementReference>
            </value>
        </inputAssignments>
        <object>DOF__c</object>
    </recordUpdates>
    <startElementReference>lookup_contact_id_from_user</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_accountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_DistID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_DOFid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Hospid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
